.figcaption {
    font-family: 'Montserrat';
    font-size: 2.5rem;
    font-weight: bold;
}

.figure .figure__image {
    filter: brightness(0.85);
    transition: all .2s;
}

.figure:hover .figure__image {
    filter: brightness(0.7);
}

@media
only screen 
and (max-width: 760px), (min-device-width: 768px) 
and (max-device-width: 1024px) {
    .figcaption {
        font-size: 2rem;
    }
}